<html>
<head>
  <link rel=stylesheet href="#">
</head>
<body>
  <header>
    <h1>Add New Menu Item</h1>
  <main>

    <form action='{{url_for('newMenuItem', restaurant_id=restaurant_id )}}' method = 'POST'>

    <p>Name:</p>
    <input type = 'text' size='30' name = 'name' placeholder = 'name'>
    <p>Course:</p>
    <input type = 'text' size='30' name = 'course' placeholder = 'course'>
    <p>Description:</p>
    <input type = 'text' size='30' name = 'description' placeholder = 'description'>
    <p>Price</p>
    <input type = 'text' size='30' name = 'price' placeholder = 'price'>

    <input type='submit' value='Edit'>
    </form>
    <a href= '#'>Cancel</a>
    </body>

    </form>

</main>

</body>

</html>
