<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel=stylesheet href="{{url_for('static', filename='css/styles.css')}}">
  <title>Sports</title>
</head>
<body>
  <section class="container">
    <!-- header goes here -->
    {% include "header.html" %}
    <article class="bannar">
    </article>
    <main>

      <!-- it is sidebar shows the categories -->
      <aside class="categories">
        <h2>Categories</h2>
        <section class="category">
          <a class="add_category" href='{{url_for("newCategory", categories = categories)}}'>Add Category</a>
          {% for category in categories %}
          <h3><a href='{{url_for("showCategoryItems", category_id = category.id )}}'>{{category.name}}</a></h3>
          {% endfor %}
        </section>
      </aside>

      <!-- it is main area that show details of all items -->
      <section class="details">
        <h2>{{category.name}} Items</h2>
        <section class="content">
          <div class="update">
            <a href = '{{url_for("newCategoryItem")}}'>New Item</a>
            <a href='{{url_for("editCategory", category_name = category.name)}}'>Edit Category</a>
            <a href='{{url_for("deleteCategory", category_name = category.name)}}'>Delete Category</a>
            <a href='{{url_for("showCategoryJson", category_id = category.id)}}'>Category Json</a>
          </div>
          {% include "flash.html" %}
          {% for i in items %}
          <h3><a href='{{url_for("showItem", category_id = category.id, item_id = i.id)}}'>{{i.name}}</a></h3>
          {% endfor %}
        </section>
      </section>
    </main>
    <!-- footer goes here -->
    {% include "footer.html" %}
  </section>
</body>
</html>
